<div class="card card-body">
    <p>Created by Mitchell Li in an effort to learn MongoDB, Express.js, Node.js, and all their available modules for creating basic web applications.</p>
    <p>Access the repo <a href="#">here</a>.</p>

    <div><a href="https://www.flaticon.com/authors/good-ware" title="Lightbulb">Lightbulb</a> icon from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>