<div class="jumbotron">
    <h1 class="font-weight-normal mb-3">Welcome, Mr. Musk!</h1>
    <p class="lead">
        Okay, so you most likely aren't Elon Musk, one of his relatives, or even someone who shares his last name. But like him, you're probably bursting with brilliant ideas just waiting to be realized in startup form! Want to create an Uber staffed purely by motorcycle drivers? Perhaps a social network for the elderly? Create an account and begin recording all your amazing ideas with this application!
    </p>
</div>