{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show">
        {{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{else}}
{{/each}}

<div class="row">
    <div class="col-sm-12 col-md-6 mx-auto">
        <div class="card card-body">
            <div class="text-center pb-1 mb-3">
                <img src="/assets/lightbulb.png" height="100" width="100">
            </div>
            <h3 class="form-title mb-4 text-center">Register</h3>
            <div class="col-sm-12 pb-2 mb-4">
                <a href="/auth/google" class="btn btn-block btn-outline-primary google" role="button">
                    Sign in with <img src="/assets/google.svg" alt="Google" height="20" class="px-1"></a>
                </a>
            </div>
            <div class="mb-4">
                <h6 class="text-center text-secondary font-weight-normal divider">
                    <span class="divider">Or, create an account here</span>
                </h6>
            </div>
            <form action="/user/register" method="post">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" value="{{name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" value="{{email}}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm">Confirm Password</label>
                        <input type="password" class="form-control" name="confirm" required>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success btn-block">Register</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="text-center pt-2">
            Already registered? Log in <a href="/user/login">here</a>.
        </p>
    </div>
</div>