<div class="card card-body">
    <h3>Startup idea</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="consumers">Consumer Segment</label>
            <textarea class="form-control" name="consumers"></textarea>
        </div>
        <div class="form-group">
            <label for="competitors">Competitors</label>
            <textarea class="form-control" name="competitors"></textarea>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" name="status">
                <option value="private" selected>Private</option>
                <option value="public">Public</option>
            </select>
        </div>
        <div class="form-check mb-3 pb-1">
            <input type="checkbox" class="form-check-input" name="allowComments">
            <label class="form-check-label" for="allowComments" value="allow">Allow comments</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>